<mat-select #select="matSelect"
            panelClass="emr-timezone-select-panel"
            [value]="_value"
            [aria-describedby]="userAriaDescribedBy"
            [disabled]="disabled"
            (opened)="onSelectOpened()"
            (closed)="onSelectClosed()">
  <div class="px-3 py-3 rounded-t sticky top-0 z-1 bg-[var(--mat-select-panel-background-color)]">
    <input #searchInput
           type="text" placeholder="Search..." autocomplete="off" [(ngModel)]="searchTerm"
           class="w-full bg-surface-container-highest rounded-lg text-sm focus:outline-none
                  focus:bg-surface-container-lowest focus:shadow-sm h-12 px-3">
    @if (searchTerm().trim()) {
      <div class="absolute end-4 top-1/2 -translate-y-1/2">
        <button
          mat-icon-button
          (click)="clearSearch()"
          class="clear-button"
          type="button"
          aria-label="Clear search">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    }
  </div>
  @for (timezoneGroup of timezoneGroups() | filterTimezones:searchTerm(); track timezoneGroup.name) {
    <div class="px-4 font-bold text-on-surface-container my-4" i18n>{{ timezoneGroup.name }}</div>
    <div>
      @for (timezone of timezoneGroup.timezones; track timezone) {
        <mat-option [value]="timezone.id" (click)="onModelChange(timezone.id)">{{ timezone.id }}</mat-option>
      }
    </div>
  } @empty {
    @if (searchTerm()) {
      <div class="text-sm px-4 py-3">
        <span i18n>Timezone not found</span>.
      </div>
    }
  }
</mat-select>
