<emr-upload-container class="mb-5">
  <emr-upload-area (fileSelected)="onFileSelected($event)">
    <mat-icon emrUploadAreaIcon>attach_file</mat-icon>
    <ng-container emrUploadAreaMainState>
      Drag & drop <button class="text-primary cursor-pointer"
                          emrUploadTrigger
                          (fileSelected)="onFileSelected($event)">or choose file(s)</button> to upload
    </ng-container>
    <ng-container emrUploadAreaDropState>
      Drop files here
    </ng-container>
  </emr-upload-area>
  <emr-upload-allowed-types>All file type are allowed to upload</emr-upload-allowed-types>
  <emr-upload-max-file-size>Max size per file: 2MB</emr-upload-max-file-size>
</emr-upload-container>
<p>
  Selected files: {{ files | json }}
</p>
