@reference 'tailwindcss';

:host {
  display: flex;
  gap: --spacing(4);

  .avatar {
    position: relative;

    &:empty {
      display: none;
    }
  }

  .actor {
    &:empty {
      display: none;
    }
  }

  .message {
    &:empty {
      display: none;
    }
  }
}
