:host {
  --emr-side-panel-content-inset-y: 0;
  --emr-side-panel-button-strip-width: 3.5rem;
  --emr-side-panel-content-actual-width: 300px;

  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;
  transition: width 0.3s ease-in-out;

  .button-strip {
    position: absolute;
    top: var(--emr-side-panel-content-inset-y);
    left: 0;
    bottom: var(--emr-side-panel-content-inset-y);
    width: var(--emr-side-panel-button-strip-width);
    z-index: 10;
  }

  .panel-content-wrapper {
    position: absolute;
    top: var(--emr-side-panel-content-inset-y);
    width: var(--emr-side-panel-content-actual-width);
    bottom: var(--emr-side-panel-content-inset-y);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    left: var(--emr-side-panel-button-strip-width);
    transform: translateX(-100%);

    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s linear 0.3s;
    z-index: 5;

    &.open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateX(0);
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0s linear 0s;
    }
  }

  &.position-right {
    .button-strip {
      left: auto;
      right: 0;
    }

    .panel-content-wrapper {
      left: auto;
      right: var(--emr-side-panel-button-strip-width);
      transform: translateX(100%);

      &.open {
        transform: translateX(0);
      }
    }
  }

  .panel-inner-content {
    width: 100%;
    height: 100%;
  }
}
