<emr-files-grid>
  @for (file of fileList; track file) {
    <emr-grid-file [size]="file.size"
                   [state]="file.state"
                   [errorMessage]="file.errorMessage"
                   [remainingTime]="file.remainingTime"
                   [name]="file.name"
                   [progress]="file.progress">
      <ng-container emrFileIcon>
        @switch (file.type) {
          @case ('pdf') {
            <img src="assets/file-types/pdf.svg" alt="file">
          }
          @case ('doc') {
            <img src="assets/file-types/doc.svg" alt="file">
          }
          @case ('xls') {
            <img src="assets/file-types/xls.svg" alt="file">
          }
        }
      </ng-container>

      @if (file.state === 'error') {
        <button mat-icon-button emrGridFileControl>
          <mat-icon emrGridFileControl>refresh</mat-icon>
        </button>
      }

      <button mat-icon-button emrGridFileControl>
        <mat-icon (click)="delete($index)">close</mat-icon>
      </button>
    </emr-grid-file>
  }
</emr-files-grid>
