<app-page>
  <h1 appPageTitle>Drawer</h1>
  <div appPageContent>
    <h3 class="mat-title-large">Basic drawer</h3>
    <emr-playground exampleUrl="_docs/components/drawer/_examples" exampleName="basic-drawer-example">
      <app-basic-drawer-example/>
    </emr-playground>

    <h3 class="mat-title-large">Drawer without backdrop</h3>
    <emr-playground exampleUrl="_docs/components/drawer/_examples" exampleName="drawer-without-backdrop-example">
      <app-drawer-without-backdrop-example/>
    </emr-playground>
  </div>
</app-page>
