<emr-breadcrumbs-global class="mb-6">
  <!-- Setup custom icons -->
  <ng-template emrBreadcrumbItemIconDef let-breadcrumb>
    @if (breadcrumb.icon) {
      <emr-icon [name]="breadcrumb.icon" class="size-5 me-0.5"/>
    }
  </ng-template>

<!--  if you want to translate or customize the breadcrumbs, you can use the following templates:-->
<!--  <ng-template emrBreadcrumbItemNameDef let-breadcrumb>-->
<!--    {{ breadcrumb.name }}-->
<!--  </ng-template>-->
<!--  <ng-template emrBreadcrumbItemTitleDef let-breadcrumb>-->
<!--    {{ breadcrumb.title }}-->
<!--  </ng-template>-->
</emr-breadcrumbs-global>

<p>
  <button mat-flat-button (click)="setBreadcrumbs()">Set breadcrumbs</button>
</p>
