<div class="px-20 py-10 mat-typography">
  <h1 class="mat-headline-1">Overview</h1>
  <div class="flex flex-wrap gap-8 mt-14">
    @for (item of items() | orderBy:'name'; track item) {
      <mat-card class="overflow-hidden hover:outline-2 hover:outline-primary cursor-pointer"
                [routerLink]="item.routerLink">
        <mat-card-content>
          <a [routerLink]="item.routerLink">
            <img [src]="item.imageUrl" alt="" class="w-[240px]">
          </a>
        </mat-card-content>
        <mat-card-footer class="bg-surface-container-lowest font-bold p-4">
          {{ item.name }}
        </mat-card-footer>
      </mat-card>
    }
  </div>
</div>
