<div class="px-20 py-14 mat-typography">
  <h1 class="mat-headline-1">Overview</h1>
  <div class="flex flex-wrap gap-8 mt-14">
    <mat-card class="overflow-hidden hover:outline-2 hover:outline-primary" routerLink="/components/expansion-panel">
      <mat-card-content>
        <a routerLink="/components/expansion-panel">
          <img src="assets/overview/accordion.svg" alt="" class="w-[300px]">
        </a>
      </mat-card-content>
      <mat-card-footer class="bg-surface-container-lowest font-bold p-4">
        Expansion Panel
      </mat-card-footer>
    </mat-card>
  </div>
</div>
