<app-page>
  <h1 appPageTitle>Sidenav</h1>
  <div appPageContent>
    <h3 class="mat-title-large">Basic sidenav</h3>
    <emr-playground exampleUrl="_docs/components/sidenav/_examples" exampleName="basic-sidenav-example">
      <app-basic-sidenav-example/>
    </emr-playground>
  </div>
  <div>
    <h2>API Reference</h2>
    <p>
      This is an Angular Material component. See the
      <a href="https://material.angular.dev/components/sidenav/overview" target="_blank" class="link">documentation</a>.
    </p>
  </div>
</app-page>
