<app-page>
  <h1 appPageTitle>Checkbox</h1>
  <div appPageContent>
    <h3 class="mat-title-large" id="basic-button">Basic Checkboxes</h3>
    <emr-playground exampleUrl="_docs/forms/checkbox/_examples" exampleName="basic-checkboxes-example">
      <app-basic-checkboxes-example></app-basic-checkboxes-example>
    </emr-playground>

    <div>
      <h2>API Reference</h2>
      <p>
        This is an Angular Material component. See the
        <a href="https://material.angular.io/components/checkbox/overview" target="_blank" class="link">documentation</a>.
      </p>
    </div>
  </div>
</app-page>
