<emr-notification class="w-2/3 p-4">
  <emr-dicebear emrNotificationActorAvatar/>
  <a routerLink="/" emr-notification-actor>Sam Anderson</a>
  <emr-notification-message>
    commented your post <a routerLink="/" class="link">Super article</a>
  </emr-notification-message>
  <emr-notification-time>1 day ago</emr-notification-time>
  <div class="border border-default rounded-lg p-2.5 text-sm mt-1">
    This is a comment.
  </div>
</emr-notification>

<emr-notification class="w-2/3 border border-default rounded-xl p-4 mt-7">
  <emr-dicebear emrNotificationActorAvatar/>
  <a routerLink="/" emr-notification-actor>Sam Anderson</a>
  <emr-notification-message>
    commented your post <a routerLink="/" class="link">Super article</a>
  </emr-notification-message>
  <emr-notification-time>1 day ago</emr-notification-time>
  <div class="border border-default rounded-lg p-2.5 text-sm mt-1">
    This is a comment.
  </div>
</emr-notification>

<emr-notification class="w-2/3 bg-surface-container-low rounded-xl p-4 mt-7">
  <emr-dicebear emrNotificationActorAvatar/>
  <a routerLink="/" emr-notification-actor>Sam Anderson</a>
  <emr-notification-message>
    commented your post <a routerLink="/" class="link">Super article</a>
  </emr-notification-message>
  <emr-notification-time>1 day ago</emr-notification-time>
  <div class="border border-default rounded-lg p-2.5 text-sm mt-1">
    This is a comment.
  </div>
</emr-notification>

<emr-notification class="w-2/3 bg-red-100 rounded-xl p-4 mt-7">
  <a routerLink="/" emr-notification-actor>Sam Anderson</a>
  <emr-notification-message>
    deleted his publication <a routerLink="/" class="link">Super article</a>
  </emr-notification-message>
  <emr-notification-time>a week ago</emr-notification-time>
</emr-notification>
